<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{}, ~{::title})}">
    <title> Cadastrar Disponibilidade</title>
</head>
<body>
<main class="container mt-4">
    <h2 class="text-center fw-bold text-primary mb-4 fs-3">Cadastrar Agenda Disponível</h2>

    <form th:action="@{/agenda/salvar}" method="post" th:object="${agenda}">
        <input type="hidden" th:field="*{id}">

        <table border="1" class="table table-bordered">
            <thead>
            <tr>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Tempo da Consulta (minutos)</th>
                <th>Médico</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="datetime-local" th:field="*{inicio}" class="form-control" required /></td>
                <td><input type="datetime-local" th:field="*{fim}" class="form-control" required /></td>
                <td>
                    <input type="number" th:field="*{duracao}" class="form-control" min="5" step="5" required />
                </td>
                <td>
                    <select name="medicoId" class="form-select" required>
                        <option value="" disabled th:selected="${agenda.medico == null}">Selecione um médico</option>
                        <option th:each="medico : ${medicos}"
                                th:value="${medico.id}"
                                th:text="${medico.nome}"
                                th:selected="${agenda.medico?.id} == ${medico.id}">
                        </option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="mb-3">
            <button type="submit" class="btn btn-outline-success">Disponibilizar</button>
        </div>
    </form>

    <form th:action="@{/agenda/list}" method="get">
        <button type="submit" class="btn btn-outline-secondary">Retornar à Lista de Agendas</button>
    </form>
</main>
</body>
</html>
