<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{}, ~{::title})}">
    <title>Formulário Consultas</title>
</head>

<body>
<main>
    <h1>Formulário de Consultas</h1>

    <form th:action="${consulta.id == null} ? @{/consulta/saveConsulta} : @{/consulta/updateConsulta}" th:object="${consulta}" method="post">
        <input type="hidden" th:field="*{id}">
        <table border="1" class="table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Observação</th>
                <th>Paciente</th>
                <th>Médico</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div th:if="${consulta.agenda != null}">
                        <input type="datetime-local" name="data" th:field="*{data}" placeholder="Data" readonly>
                    </div>

                    <div th:unless="${consulta.agenda != null}">
                        <input type="datetime-local" name="data" th:field="*{data}" placeholder="Data">
                    </div>
                </td>
                <td><input type="number" th:field="*{valor}" placeholder="Valor" /></td>
                <td><input type="text" th:field="*{observacao}" placeholder="Observação" /></td>
                <td>
                    <select th:field="*{paciente.id}" required class="form-control">
                        <option value="" disabled selected>Selecione Paciente</option>
                        <option th:each="p : ${pacientes}" th:value="${p.id}" th:text="${p.nome}"></option>
                    </select>
                </td>
                <td>
                    <div th:if="${consulta.agenda != null}">
                        <input type="text" th:value="${consulta.agenda.medico.nome}" disabled class="form-control"/>
                        <input type="hidden" th:field="*{medico.id}" th:value="${consulta.agenda.medico.id}" />
                    </div>
                    <div th:unless="${consulta.agenda != null}">
                        <select th:field="*{medico.id}" class="form-control">
                            <option value="" selected disabled>Selecione um médico</option>
                            <option th:each="m : ${medicos}" th:value="${m.id}" th:text="${m.nome}"></option>
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

              <div style="margin-top: 10px;">
            <input type="submit" value="Enviar" />
        </div>
    </form>

    <form th:action="@{/consulta/apresentarConsulta}" method="get">
        <input type="submit" value="Retornar Lista de Consultas">
    </form>
</main>
</body>
</html>
