<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{}, ~{::title})}">
    <title>Home</title>
</head>

    <body>
    <main class="container my-5">
        <div class="btn btn-light border rounded p-4 mx-auto d-block" style="max-width: 550px;">

            <div class="row" >
                <div class="mx-auto text-center">

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Usuário/senha inválidos!</div>
                    </div>

                    <div th:if="${param.logout}">
                        <div class="alert alert-info">Usuário deslogado</div>
                    </div>

                    <div class="card">
                        <h5 class="card-header text-center fw-bold text-primary mb-4 fs-3">Informe usuário e senha</h5>
                        <div class="card-body" >
                            <form th:action="@{/login}" method="post">
                                <div class="form-group mb-2">
                                    <label>Login:<input class="form-control" type="text"
                                                        name="username" placeholder="Usuário"/></label>
                                </div>

                                <div class="form-group mb-3">
                                    <label>Senha:<input class="form-control"
                                                        type="password" name="password" placeholder="Senha"/></label>
                                </div>

                                <div class="form-group mb-3">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                    <a href="/paciente/form" class="btn btn-outline-info ms-2">Cadastrar-se</a>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    </body>

</html>
