<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{}, ~{::title})}">
    <title>Home</title>
</head>

<body>
<main class="container my-5">
    <div class="btn btn-light border rounded p-4 mx-auto d-block" style="max-width: 550px;">
        <div th:if="${erro}" class="alert alert-danger text-center" th:text="${erro}"></div>
        <div th:if="${msg}" class="alert alert-success text-center" th:text="${msg}"></div>

        <h2 class="text-center fw-bold text-primary mb-4 fs-3">Lista de Perfil de Acesso</h2>

        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Perfil</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="r : ${roles}">
                <td th:text="${r.id}"></td>
                <td th:text="${r.nome}"></td>
                <td>
                    <a th:href="@{/admin/editarRole/{id}(id=${r.id})}" class="btn btn-sm btn-warning">Editar</a>

                </td>
                <td>
                    <a th:href="@{/admin/excluirRole/{id}(id=${r.id})}"
                       class="btn btn-sm btn-danger"
                       onclick="return window.confirm('Tem certeza que deseja excluir este registro?')">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between mt-4">
            <form th:action="@{/admin/formRole}" method="get">
                <button class="btn btn-success">➕ Inserir Novo Perfil</button>
            </form>

            <form th:action="@{/hospital/home}" method="get">
                <button class="btn btn-outline-secondary">🏠 Home</button>
            </form>
        </div>

    </div>
</main>
</body>
</html>
